@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    text-decoration: none;
}

.home-container3 {
    background: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.60)), rgba(255, 255, 255, 0.50) url(the-palm-3840x2160-atlantis-dubai-hotel-6k-19258.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex; 
    flex-direction: column;
    height: 1500px;
    align-items: center;
    padding: 5px;
    font-size: 5rem;
    color: grey;
    font-family: 'Cinzel', serif;
}

.home-section3 {
    display: flex; 
    flex-direction: column;
    padding-top: 100px;
    align-items: center;
}

.guest-name{
    /* display: ; */
    font-size: 50%;
    padding: 6px;
    margin: 10px;
}