.Form-Page-Container {
    height: 100vh;
    /* background-color: whitesmoke; */
    display: grid;
    place-items: center center;
    background: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.60)), rgba(255, 255, 255, 0.50) url(pexels-photo-261181.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Form-container {
    display: flex;
    background-color: #fafaff;
    max-height: 50%;
    max-width: 350px;
    padding: 4em;
    box-shadow: 0 4px 15px 0;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.guest-form {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    margin-top: -1em;
}

.form-input {
    margin-bottom: 2em;
    margin-top: 0.2em;
    height: 3em;
    font-size: 1.1em;
    border-radius: 0.5em;
    border: none;
    border-style: none;
    padding: 0.5em;
}

.form-input:active, .form-input:hover {
    box-shadow: 0 4px 15px 0;
}

.form-submit:hover {
    box-shadow: 0 4px 15px 0;
    background-color: black;
}

.form-submit {
    padding: 0.5em;
    font-size: 1.3em;
    background: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.25)), rgba(0, 0, 0, 0.06);
    border: none;
    border-radius: 0.5em;
    color: white;
}