@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
}
@keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
}
@keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
}
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.carousel {
    filter: drop-shadow(0 0 10px #0003);
    width: 100%;
    height: 50vmax;
    list-style: none;
    position: fixed;
    top: 100px;
    z-index: 200;
    cursor: cell;
    margin: 0px;
    background-position: center center;
    background-size: cover;
    align-items: center;
    justify-content: center;
}
.carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}
.carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 25%;
    background-color: #212534;
    counter-increment: item;
}

.carousel__slide:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -40%, 70px);
    color: #fff;
    font-size: 2em;
}
.carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
} 
@media (hover: hover) {
    .carousel__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
    .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart, snap;
    }
}
@media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
    }
}
.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
    animation-name: none;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
    position: fixed;
    top: 0;
    margin-top: 37.5%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
}
.carousel::before,
.carousel__prev {
    left: -5rem;
}
.carousel::after,
.carousel__next {
    right: -5rem;
}

.carousel__slide:nth-child(1) {
    background-image: url("chemin-des-douaniers-3840x2160-normandy-france-beach-rocks-ocean-23348.jpg");
    background-position: center center;
    background-size: cover;
}
.carousel__slide:nth-child(2) {
    background-image: url("europe-3840x2160-winter-town-snow-river-4k-23856.jpg");
    width: 700px;
    background-position: center center;
    background-size: cover;
    height: auto;
}
.carousel__slide:nth-child(3) {
    background-image: url("golden-gate-bridge-suspension-san-francisco-california-161764.jpeg");
    background-position: center center;
    background-size: cover;
}
.carousel__slide:nth-child(4) {
    background-image: url("morning-3840x2160-frost-sunrise-fog-glastonbury-tor-somerset-4k-23853.jpg");
    background-position: center center;
    background-size: cover;
} 