@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    text-decoration: none;
}

.home-container1 {
    background: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.60)), rgba(255, 255, 255, 0.50) url(pexels-photo-261181.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex; 
    flex-direction: column;
    height: 1500px;
    align-items: center;
    padding: 5px;
    font-size: 5rem;
    color: grey;
    font-family: 'Cinzel', serif;
}

.home-section1 {
    display: flex; 
    flex-direction: column;
    padding-top: 100px;
    align-items: center;
}