@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    text-decoration: none;
}

.home-container2 {
    background: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.60)), rgba(255, 255, 255, 0.50) url(pexels-photo-547119.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 1500px;
    align-items: center;
    padding: 5px;
    font-size: 5rem;
    font-family: 'Cinzel', serif;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: auto;
    justify-content: center;
    padding-top: 200px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    height: 100px;
    width: 100px;
}

.available {
    background-color: green;
}

.occupied {
    background-color: red;
}