*, *::before, *::after {
    box-sizing: border-box;
    text-decoration: none;
}

.home-container {
    /* background: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.60)), rgba(255, 255, 255, 0.50) url(images/86eb261c84293cfd28016d728b308673.jpeg); */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex; 
    flex-direction: column;
    height: 1500px;
    border: 1px solid lightgrey;
    align-items: center;
    background-clip: content-box;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 5px;
    box-shadow: 5px 10px 18px lightgrey;
}

.home-section {
    display: flex; 
    flex-direction: column;
    padding-top: 100px;
    border: 1px solid lightgrey;
    align-items: center;
}