.header-container {
    border: 1px solid lightgrey;
    padding: 10px;
    margin-top: 225px;
    box-shadow: 5px 10px 18px lightgrey;
    display: flex;
    justify-content: center;
    background-clip: content-box;
    background-color: rgba(255, 255, 255, 0.75);
    font-size: 1.5em;
}

.header-text {
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid lightgrey;
    padding: 10px;
    box-shadow: 5px 10px 18px lightgrey;
    display: flex;
    justify-content: center;
    background-clip: content-box;
    background-color: rgba(255, 255, 255, 0.75);
}