.Form-Page-Container{
    min-height: 100vh;
    background-color: whitesmoke;
    display: grid;
    place-items: center center;
}
.Form-container {
    background-color: rgb(250,250,255);
    max-height: 50%;
    max-width:40%;
    padding: 4em;
    box-shadow: 0 4px 15px 0;
}
.guest-form{
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    margin-top: -1em;
}

.form-input{
    margin-bottom: 2em;
    margin-top: 0.2em;
    height:3em;
    width: 20em;
    font-size: 1.1em;
    border-radius: 0.5em;
    border: none;
    border-style: none;
    padding: 0.5em;

}
.form-input:active,.form-input:hover,.form-submit:hover{
    box-shadow: 0 4px 15px 0;


}

.form-submit{
    padding: 0.5em;
    font-size: 1.3em;
    background-color: rgb(169, 92, 92);
    border: none;
    border-radius: 0.5em;
    color:white;
 
}
