@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: white;
  height: 1500px;
}

.nav-container {
  display: flex;
  background: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.25)), rgba(0, 0, 0, 0.00);
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 500;
  height: 100px;
  position: fixed;
}

.link {
  align-items: center;
  font-size: 1.5rem;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-bottom: 10px;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Hind Siliguri', sans-serif;
  font-family: 'Kanit', sans-serif;
}

.link-container {
  display: flex;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-title {
  color: white;
  font-size: 35px;
  padding: 15px;
  font-family: 'Bad Script', cursive;
  font-family: 'Marck Script', cursive;
}

.main-container {
  position: relative;
  width: 100%;
  background-color: lightblue;
  height: 100%;
}